# Backup configuration file for prawntoast."""

# Account running podman containers
podman_user: "{{ podman_user }}"

# List of named volumes exported for the backup
export_volumes:
{% for item in export_volumes %}
  - {{ item }}
{% endfor %}

# List of containers that need to be stopped for the export
export_containers:
{% for item in export_containers %}
  - {{ item }}
{% endfor %}

# Path where volumes are exported
export_path: "{{ export_path }}"

# Backup policy
keep_daily: 7
keep_weekly: 4
keep_monthly: 3
keep_quarterly: 3

# Path to borg repository
borg_repository: "{{ backup_path }}/borg/repository"
# Password for borg repository
borg_password: "{{ borg_password }}"
# Paths included in borg backups
borg_backup_paths:
{% for item in borg_backup_paths %}
  - {{ item }}
{% endfor %}
