# Azure AD app registration details
client_id: "{{ mailer_client_id }}"
tenant_id: "{{ mailer_tenant_id }}"
client_secret: "{{ mailer_client_secret }}"  
from_addr: "{{ mailer_from }}"
to_addr: "{{ mailer_to }}"
