[Timer]

# Clears any previous settings
OnCalendar=
OnCalendar={{ automate_container_updates_schedule }}
RandomizedDelaySec={{ automate_container_updates_randomize_delay }}

[Install]

WantedBy=timers.target
