[Timer]

# Clears any previous settings
OnCalendar=
OnCalendar={{ automate_system_updates_schedule }}
RandomizedDelaySec={{ automate_system_updates_randomize_delay }}

[Install]

WantedBy=timers.target
